@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cont {
  width: 100%;
  height: 200px;
  position: relative;
  background: linear-gradient(to right, #ff9606, #17163ec5, #17163e);

  /* perspective: 1000px; */
}
/* .cont span {
  padding: 80px;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 99;
  background: red;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100px; 
  height: 100px; 
  background-size: cover;
  background-position: center;
} */
.cont p {
  padding: 20px;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec_div {
  width: 80% auto;
  /* position: relative; */
  /* top: 200%; */
}
.sec_div .sub {
  /* position: absolute; */
  top: 100% !important;
  margin-top: 200px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.connectButton {
  background-color: #ff9606 !important;
  color: white !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  cursor: pointer !important;
}
.connectButton:hover {
  box-shadow: 0px 0px 15px 2px #8e530051 !important;
  transform: translateY(-2px) !important;
}
.img-cont {
  position: relative;
  margin: 100px;
  border-radius: 30px;
  display: inline-block;
  width: 400px;
  transform: rotate(-30deg);

  @media (max-width: 768px) {
    width: 100%; /* Set width to 100% for mobile screens */
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.img-cont img {
  width: 400px;
  max-width: 100%;
  aspect-ratio: 1.5;
  border-radius: inherit;
  display: block;
  border: 8px solid yellow;
  /* margin: auto; */
}

.img-cont:before {
  content: "";
  background-color: #ff9606;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 20px;
  right: 40px;
  transform: rotate(5deg);
  border-radius: inherit;
}
.nft_page {
  position: relative;
  background: url("./assets/feed-the-poor.png") center/cover no-repeat;
  overflow: hidden;
  color: black; /* Text color */
}

.nft_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* White-like background with opacity */
  /* filter: blur(10px); Adjust the blur amount as needed */
}

.nft_page h1,
.nft_page h2,
.nft_page p {
  z-index: 1; /* Ensure text appears above the blurred background */
}

/* carousel transition  */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.calc-table tr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  display: flex !important;
  justify-content: space-between;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}
.calc-table .value {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid grey;
}
.calc-table .last-tr {
  margin-top: 20px !important;
  margin-top: 20px !important;
}
.calc-table .last-tr .last-value {
  color: white;
  border-radius: 7px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.872);
  border: 1px solid grey;
}
.calc-table .last-tr .last-value input {
  background: transparent;
  color: white;
}
