@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cont {
  width: 100%;
  height: 200px;
  position: relative;
  background: linear-gradient(to right, #ff9606, #17163ec5, #17163e);

  /* perspective: 1000px; */
}
.cont span {
  padding: 80px;
  border-radius: 50%;
  /* background-image: url(../public/images/black_n_white.jpeg); */
  /* background-image: url(/public/images/); */
  border: 1px solid black;
  z-index: 99;
  background: red;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  background-size: cover;
  background-position: center;
}
.cont p {
  padding: 20px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec_div {
  width: 80% auto;
  /* position: relative; */
  /* top: 200%; */
}
.sec_div .sub {
  /* position: absolute; */
  top: 100% !important;
  margin-top: 200px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.connectButton {
  background-color: #ff9606 !important;
  color: white !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  cursor: pointer !important;
}
.connectButton:hover {
  box-shadow: 0px 0px 15px 2px #8e530051 !important;
  transform: translateY(-2px) !important;
}
